# Request behavior.
BAIBIANDUI_T=
HAILUO_AUTHORIZATION=
HAILUO_REFERER=https://servicewechat.com/wx7f7b845076caaf81/76/page-frame.html
MOGUSHIJIAN_TOKEN=
MOGUSHIJIAN_ALIANAME=alia2
MOGUSHIJIAN_REFERER=https://servicewechat.com/wx95e68e4fbf89d3f7/3/page-frame.html
